*::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #C9D3FF;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

*, :after, ::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .16px;
  margin: 0;
  padding: 0;
  color: #3349A6;
}

a {
  font-family: 'Alegreya SC', serif;
  text-decoration: none;
  color: #5732A6;
}

header:after, .container:after, footer:after, li:after {
  content: "";
  display: table;
  clear: both;
}

a[href*="http"]::before, .external::before {
  content: "";
  background: url('../images/external-link.svg') no-repeat 0 0;
  padding-left: 10px;
}

h1 {
  font-size: 2em;
  text-align: left;
  color: #5732A6;
  text-shadow: 3px 1px rgba(0, 0, 0, .07);
}

h2 {
  font-size: 1.5em;
  text-align: left;
  color: #5732A6;
  text-shadow: 3px 3px 1px rgba(0, 0, 0, .07);
}

p {
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  line-height: 1.5em;
}

.wrapper {
  margin: 0 auto;
  max-width: 960px;
}

header {
  background: #9CAFFF;
  -webkit-box-shadow: 3px 3px 1px rgba(0, 0, 0, .05);
  box-shadow: 3px 3px 1px rgba(0, 0, 0, .05);
}

.header__firstLine {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 5px 20px;
}

.logo {
  display: flex;
}

.logo--size {
  max-width: 400px;
}

.socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
}

.socialIcons__item {
  display: block;
  margin-left: 10px;
}

.header__secondLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-flow: row-reverse;
  flex-flow: row-reverse;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 5px 20px 10px;
}

.header__tel {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  color: #5732A6;
  text-shadow: 3px 3px 1px rgba(0, 0, 0, .07);
  line-height: 35px;
}

.header__mail {
  font-family: 'Roboto', sans-serif;
  text-shadow: 3px 1px rgba(0, 0, 0, .07);
  line-height: 35px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  align-items: center;
}

.menu__item {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  color: #5732A6;
  padding: 0.7rem 1.4rem;
  border-radius: .2em;
  background: -o-linear-gradient(rgba(181, 195, 255, 0.7), #C9D3FF, rgba(181, 195, 255, 0.7));
  background: linear-gradient(rgba(181, 195, 255, 0.7), #C9D3FF, rgba(181, 195, 255, 0.7));
  margin: 0 0.2rem;
  -webkit-transition: all 0.225s ease-in-out;
  -o-transition: all 0.225s ease-in-out;
  transition: all 0.225s ease-in-out;
  cursor: pointer;
}

.menu__item--selected {
  pointer-events: none;
  opacity: .2;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - основной блок */

main {
  display: flex;
}

.mobileMenu {
  display: none;
}

.mobileMenu--check {
  display: none;
}

.post {
  background: -o-linear-gradient(315deg, rgba(181, 195, 255, 0.664), #B5C3FF);
  background: linear-gradient(135deg, rgba(181, 195, 255, 0.664), #B5C3FF);
  -webkit-box-shadow: 3px 3px 1px rgba(51, 72, 166, 0.322);
  box-shadow: 3px 3px 1px rgba(51, 73, 166, .05);
}

.post--margin {
  margin: 5px;
}

.post__title {
  padding: 45px 0 0 35px;
}

.post__title--bottomPadding {
  padding-bottom: 20px;
}

.post__subtitle {
  padding: 5px 0 20px 40px;
}

.post__text {
  padding: 5px 30px;
}

.post__text--paddingBottom {
  padding-bottom: 20px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - правая колонка */

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.aside__img {
  padding-top: 10px;
  margin: 0 auto;
  text-align: center;
}

.aside__header {
  text-align: center;
  margin-top: 20px;
}

.usefulLinks {
  margin-left: 10px;
}

.usefulLinks__item {
  margin-top: 10px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - услуги */

.service__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 20px 0;
}

.button__layout {
  color: #B5C3FF;
  font-size: 90%;
  text-shadow: 0 -1px 2px rgba(0, 0, 0, .2);
  padding: .5em 1em;
  outline: none;
  border-radius: 3px;
  background: -o-linear-gradient(#9CAFFF, #3349A6) #9CAFFF;
  background: linear-gradient(#9CAFFF, #3349A6) #9CAFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  border-radius: 25px;
  -webkit-box-shadow: 0 1px rgba(255, 255, 255, .2) inset, 0 3px 5px rgba(0, 1, 6, .5), 0 0 1px 1px rgba(0, 1, 6, .2);
  box-shadow: 0 1px rgba(255, 255, 255, .2) inset, 0 3px 5px rgba(0, 1, 6, .5), 0 0 1px 1px rgba(0, 1, 6, .2);
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.service__post--display {
  display: none;
}

.service__button1:checked~.service__buttons .button__label1 {
  pointer-events: none;
  top: 1px;
  background: -o-linear-gradient(#BA9AFF, #5732A6) #BA9AFF;
  background: linear-gradient(#BA9AFF, #5732A6) #BA9AFF;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .5) inset, 0 2px 3px rgba(0, 0, 0, .5) inset, 0 1px 1px rgba(255, 255, 255, .1);
  box-shadow: 0 0 1px rgba(0, 0, 0, .5) inset, 0 2px 3px rgba(0, 0, 0, .5) inset, 0 1px 1px rgba(255, 255, 255, .1);
}

.service__button2:checked~.service__buttons .button__label2 {
  pointer-events: none;
  top: 1px;
  background: -o-linear-gradient(#BA9AFF, #5732A6) #BA9AFF;
  background: linear-gradient(#BA9AFF, #5732A6) #BA9AFF;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .5) inset, 0 2px 3px rgba(0, 0, 0, .5) inset, 0 1px 1px rgba(255, 255, 255, .1);
  box-shadow: 0 0 1px rgba(0, 0, 0, .5) inset, 0 2px 3px rgba(0, 0, 0, .5) inset, 0 1px 1px rgba(255, 255, 255, .1);
}

.service__button3:checked~.service__buttons .button__label3 {
  pointer-events: none;
  top: 1px;
  background: -o-linear-gradient(#BA9AFF, #5732A6) #BA9AFF;
  background: linear-gradient(#BA9AFF, #5732A6) #BA9AFF;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .5) inset, 0 2px 3px rgba(0, 0, 0, .5) inset, 0 1px 1px rgba(255, 255, 255, .1);
  box-shadow: 0 0 1px rgba(0, 0, 0, .5) inset, 0 2px 3px rgba(0, 0, 0, .5) inset, 0 1px 1px rgba(255, 255, 255, .1);
}

.service__button4:checked~.service__buttons .button__label4 {
  pointer-events: none;
  top: 1px;
  background: -o-linear-gradient(#BA9AFF, #5732A6) #BA9AFF;
  background: linear-gradient(#BA9AFF, #5732A6) #BA9AFF;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .5) inset, 0 2px 3px rgba(0, 0, 0, .5) inset, 0 1px 1px rgba(255, 255, 255, .1);
  box-shadow: 0 0 1px rgba(0, 0, 0, .5) inset, 0 2px 3px rgba(0, 0, 0, .5) inset, 0 1px 1px rgba(255, 255, 255, .1);
}

.service__citizen {
  display: none;
}

.service__criminal {
  display: none;
}

.service__arbitraj {
  display: none;
}

.service__consulting {
  display: none;
}

.service__button1:checked~.service__consulting {
  display: block;
}

.service__button2:checked~.service__arbitraj {
  display: block;
}
.service__button3:checked~.service__citizen {
  display: block;
}

.service__button4:checked~.service__criminal {
  display: block;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - таблица */

table {
  border-top: ridge#9CAFFF 3px;
  border-collapse: separate;
  border-spacing: 1px;
  margin: 15px 10px;
}

th {
  padding: 5px;
  vertical-align: middle;
}

td {
  font-size: 0.9em;
  line-height: 1.4;
  border: #BA9AFF dotted 1px;
  border-radius: 5px;
  padding: 7px;
  vertical-align: middle;
}

.service__price {
  text-align: center;
  width: 100px;
  padding: 10px 0;
}

.table__subHeader {
  border: none;
  padding-top: 25px;
  text-transform: uppercase;
}

.service--minifont {
  font-size: 0.68em;
  line-height: 1.3;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - контакты */

.contacts__name {
  color: #C9D3FF;
  text-shadow: 3px 3px 1px rgba(0, 0, 0, .07);
  ;
  background: #3349A6;
  padding-left: 20px;
}

.contacts__item1 {
  padding-left: 43px;
  position: relative;
  margin: 20px 20px 0 20px;
}

.contacts__item2 {
  display: block;
  margin: 10px 20px 0 20px;
  margin-left: 7%;
  padding-left: 43px;
  position: relative;
}

.contacts__item3 {
  display: block;
  margin: 10px 20px 0 20px;
  margin-left: 14%;
  padding-left: 43px;
  position: relative;
}

.contacts__item4 {
  display: block;
  margin: 10px 20px 0 20px;
  margin-left: 21%;
  padding-left: 43px;
  position: relative;
}

.contacts__item5 {
  display: block;
  margin: 10px 20px 0 20px;
  margin-left: 28%;
  padding-left: 43px;
  position: relative;
}

.contacts__item6 {
  display: block;
  margin: 10px 20px 0 20px;
  margin-left: 35%;
  padding-left: 43px;
  position: relative;
}

.contacts__item1::before {
  position: absolute;
  content: "\0000a0";
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: url('../images/location.svg') no-repeat 0 0;
}

.contacts__item2::before {
  position: absolute;
  content: "\0000a0";
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: url('../images/phone.svg') no-repeat -0px 0;
}

.contacts__item3::before {
  position: absolute;
  content: "\0000a0";
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: url('../images/email.svg') no-repeat 0 0;
}

.contacts__item4::before {
  position: absolute;
  content: "\0000a0";
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: url('../images/telegram.svg') no-repeat 0 0;
}

.contacts__item5::before {
  position: absolute;
  content: "\0000a0";
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: url('../images/viber.svg') no-repeat 0 0;
}

.contacts__item6::before {
  position: absolute;
  content: "\0000a0";
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: url('../images/whatsapp.svg') no-repeat 0 0;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - подвал */

footer {
  display: block;
  color: #C9D3FF;
  background-color: #3349A6;
}

.copy {
  padding: 15px 0 15px 30px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - адаптация под размер */

@media screen and (max-width: 959px) {
  .text {
    margin-left: 5px;
  }
}

@media screen and (max-width: 915px) {
  .button__layout {
    font-size: 12px;
    padding: 10px;
    -webkit-transform: scale(0.95, 1.2);
    -ms-transform: scale(0.95, 1.2);
    transform: scale(0.95, 1.2);
  }
  .text {
    padding: 0 5px 0 5px;
  }
  h1, h2 {
    padding-left: 10px;
  }
  p {
    padding-left: 5px;
    padding-right: 10px;
  }
  .aside__img {
    padding-right: 10px;
  }
}

@media screen and (max-width: 840px) {
  .button__layout {
    font-size: 11px;
    padding: 10px;
    -webkit-transform: scale(0.95, 1.1);
    -ms-transform: scale(0.95, 1.1);
    transform: scale(0.95, 1.1);
  }
  .service__price {
    width: 130px;
  }
}

@media screen and (max-width: 800px) {
  .button__layout {
    font-size: 10px;
    padding: 10px;
    -webkit-transform: scale(0.98, 1.3);
    -ms-transform: scale(0.98, 1.3);
    transform: scale(0.98, 1.3);
  }
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }
  .menu li {
    padding-left: 10px;
  }
  .text {
    width: auto;
    margin: 0;
  }
  .button__layout {
    font-size: 16px;
    padding: 10px;
    -webkit-transform: scale(0.89, 1.05);
    -ms-transform: scale(0.89, 1.05);
    transform: scale(0.89, 1.05);
  }
  aside {
    flex-direction: row;
  }
}

@media screen and (max-width: 750px) {
  .menu__item {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 639px) {
  .menu__item {
    font-size: 0.74em;
  }
  .button__layout {
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  .logo--size {
    width: 90%;
  }
  .menu__item--selected {
    display: none;
  }
  .menu__item--displayNone {
    display: none;
    width: 0;
  }
  .menu {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
  }
  .menu__item {
    width: 100px;
    height: 50px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-top: 15px;
  }
  .button__layout {
    font-size: 13px;
  }
}

@media screen and (max-width: 570px) {
  .menu {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .header {
    text-align: end;
  }
}

@media screen and (max-width: 530px) {
  p {
    padding: 0 10px;
  }
  .button__layout {
    font-size: 11px;
  }
  .service__price {
    width: 110px;
  }
  .usefulLinks {
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
  }
  .aside__img {
    width: 50%;
  }
  #aside__img-size {
    width: 110%;
  }
}

@media screen and (max-width: 460px) {
  .logo {
    display: block;
    margin: 10px auto;
    text-align: center;
  }
  .logo--size {
    margin: 0;
  }
  
  .socialIcons {
    position: absolute;
    top: 105px;
    left: 40px;
  }
  .menu {
    display: none;
  }
  .menu__item {
    width: 150px;
    height: 55px;
  }
  .mobileMenu {
    display: block;
    float: right;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    color: #5732A6;
    background-color: #9CAFFF;
    -webkit-box-shadow: 3px 3px 1px rgba(0, 0, 0, .05);
    box-shadow: 3px 3px 1px rgba(0, 0, 0, .05);
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
    transition: all 0.3s 0.01s ease;
  }
  .mobileMenu--check:checked~.header__secondLine .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobileMenu--check:checked~.header__firstLine .socialIcons {
    display: none;
  }
  .mobileMenu--check:checked~.header__secondLine .header__requisites {
    display: none;
  }
  .header {
    margin-top: 0;
  }
  .header__tel {
    font-size: 1.3em;
  }
  .callBack__button__item {
    font-size: 1.3em;
  }
  .button__layout {
    font-size: 10px;
  }
  aside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (max-width: 425px) {
  .callBack__button__item {
    text-align: center;
  }
  .button__layout {
    font-size: 9px;
    padding: 8px;
    -webkit-transform: scale(0.95, 1);
    -ms-transform: scale(0.95, 1);
    transform: scale(0.95, 1);
  }
}

@media screen and (max-width: 384px) {
  .socialIcons {
    left: 20px;
  }
  .button__layout {
    font-size: 7px;
    padding: 3px;
    -webkit-transform: scale(0.98, 1.3);
    -ms-transform: scale(0.98, 1.3);
    transform: scale(0.98, 1.3);
  }
  table {
    font-size: 0.8em;
  }
  .copy {
    padding-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 350px) {
  .socialIcons {
    left: 5px;
    top: 100px;
  }
  .socialIcons__item {
    margin-left: 5px;
  }
}

@media screen and (max-width: 320px) {
  body {
    font-size: 14px;
  }
  .mobileMenu--check:checked~.menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -ms-grid-column-align: center;
    justify-self: center;
  }
  .menu__item {
    margin: 5px 0;
    width: 100px;
  }
  .service__buttons {
    display: block;
  }
  .button__layout {
    font-size: 12px;
    padding: 10px;
    margin-top: 10px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  table {
    font-size: 0.6em;
  }
  .contacts__item::before {
    height: 125%;
  }
  .service__price {
    width: 50px;
  }
}

@media screen and (max-width: 318px) {
  .socialIcons {
    display: none;
  }
}

@media (hover) and (min-width: 769px) {
  a:hover {
    color: #FFECC1;
    background-color: #A6822E;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px;
  }
  .logo:hover {
    background-color: transparent;
  }
  .socialIcons__item:hover {
    border-radius: 10px;
    opacity: 0.9;
    background-color: #3349A6;
  }
  .header li:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  .menu__item:hover {
    color: #D9C7FF;
    background: -webkit-gradient(linear, left top, left bottom, from(#B5C3FF), color-stop(#3348a69f), to(#B5C3FF));
    background: -o-linear-gradient(#B5C3FF, #3348a69f, #B5C3FF);
    background: linear-gradient(#B5C3FF, #3348a69f, #B5C3FF);
  }
  .button__layout:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#8ca2fc), to(#374db3)) #8ca2fc;
    background: -o-linear-gradient(#8ca2fc, #374db3) #8ca2fc;
    background: linear-gradient(#8ca2fc, #374db3) #8ca2fc;
  }
}