.contacts {
  padding-left: 30px;

  &__name {
    font-family: $alternateFont;
    font-weight: 700;
    color: #C9D3FF;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, .07);
    background: $colorBlueDark;
    padding-left: 20px;
    margin-bottom: 5px;
  }

  &__text {
    font-family: $mainFont;
    font-weight: 700;
    padding-left: 10px;
    margin-top: 5px;
    text-align: left;
  }

  &--whitespace {
    white-space: nowrap;
  }

  %item-shared {
    display: block;
    margin-right: 30px;
    padding-left: 43px;
    position: relative;
  }

  &__item1 {
    padding-left: 43px;
    position: relative;
    margin: 20px 30px 0 0;
  }

  &__item2 {
    @extend %item-shared;
    margin-left: 7%;
  }

  &__item3 {
    @extend %item-shared;
    margin-left: 14%;
  }

  &__item4 {
    @extend %item-shared;
    margin-left: 21%;
  }

  &__item5 {
    @extend %item-shared;
    margin-left: 28%;
  }

  &__item6 {
    @extend %item-shared;
    margin-left: 35%;
  }

  %before-shared {
    position: absolute;
    content: "\0000a0";
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__item1::before {
   @extend %before-shared; 
    background: url('../images/location.svg') no-repeat 0 0;
  }

  &__item2::before {
    @extend %before-shared;
    background: url('../images/phone.svg') no-repeat -0px 0;
  }

  &__item3::before {
    @extend %before-shared;
    background: url('../images/email.svg') no-repeat 0 0;
  }

  &__item4::before {
    @extend %before-shared;
    background: url('../images/telegram.svg') no-repeat 0 0;
  }

  &__item5::before {
    @extend %before-shared;
    background: url('../images/viber.svg') no-repeat 0 0;
  }

  &__item6::before {
    @extend %before-shared;
    background: url('../images/whatsapp.svg') no-repeat 0 0;
  }
}