@media screen and (max-width: 533px) {
  .header__firstLine {
    padding: 0;
  }

  .header__secondLine {
    padding: 0;
  }

  .logo {
    width: 100%;

    &--size {
      max-width: 480px;
      width: 95%;
      margin: 15px auto 0;
    }
  }

  .socialIcons {
    position: absolute;
    top: 100px;
    left: 10%;
  }

  .header__requisites {
    padding-right: 20px;
    margin-bottom: 0;
  }

  .menu {
    display: none;

    &__item {
      margin: 15px;
    }
  }

  .mobileMenu {
    display: block;
    float: right;
    margin-top: 15px;
    margin-right: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    border-radius: 10px;
    outline: none;
    padding: 12px;
    cursor: pointer;
    color: $colorBlueLight;
    text-shadow: 0 -1px 2px rgba(0, 0, 0, .2);
    background: linear-gradient($colorHeader, $colorBlueDark) $colorHeader;
    box-shadow: 0 1px rgba(255, 255, 255, .2) inset, 0 3px 5px rgba(0, 1, 6, .5), 0 0 1px 1px rgba(0, 1, 6, .2);
    outline: none;
    border-radius: 15px;
    transition: .2s ease-in-out;
    align-items: center;
    justify-content: center;
    text-align: center;

    &--check:checked~main .post .mobileMenu {
      top: 16px;
      background: linear-gradient(#BA9AFF, $colorRoseDark) #BA9AFF;
      box-shadow: 0 0 1px rgba(0, 0, 0, .5) inset, 0 2px 3px rgba(0, 0, 0, .5) inset, 0 1px 1px rgba(255, 255, 255, .1);
    }

    &--check:checked~header .header__secondLine .menu {
      display: flex;
    }

    &--check:checked~ header .header__firstLine .socialIcons {
      display: none;
    }

    &--check:checked~header .header__secondLine .header__requisites {
      display: none;
    }
  }

  .post__title {
    padding: 10px 0 0 30px;
  }

  .button__layout {
    font-size: 1em;
  }

  aside {
    flex-direction: column;
  }

  .aside__img {
    padding: 10px;

  }
}