@media screen and (max-width: 480px) {
  .socialIcons {
    top: 90px;
    left: 7%;
  }

  .button__layout {
    font-size: 0.75em;
    margin: 20px 11px 20px -88px;
  }

  .button__label1 {
    margin-left: 11px;
  }

  .service__price {
    width: 80px;
  }
}