$mainFont: 'Roboto', sans-serif;
$alternateFont: 'Alegreya SC', serif;
$colorRoseDark: #5732A6;
$colorBlueDark: #3349A6;
$colorBlueLight: #C9D3FF;
$colorHeader: #9CAFFF;
$colorContent: #B5C3FF;
$colorForContrast: #573288;