---
layout: layout.njk
pageHeader: "Кынтэрец Людмила Николаевна"
pageSubHeader: "Адвокат"
activeNav: /about/
pageDescription: "Адвокат Кынтэрец Людмила Николаевна. Более 15 лет практики защиты прав и интересов в Санкт-Петербурге."
breadcrumbs:
  - name: "Кынтэрец Людмила Николаевна"
---
{% from "partials/block-of-text.njk" import renderText %}

{% include "partials/heading.njk" %}
<img src="/images/advokat.jpg" alt="Адвокат Кынтэрец Л.Н." class="about-photo">
{{ renderText(about.text) }}
