---
layout: layout.njk
pageHeader: "Оказание юридической помощи по арбитражным делам"
activeNav: /assistance/
pageDescription: "Арбитражные споры в Санкт-Петербурге. Представительство в арбитражных судах, защита интересов юридических лиц."
breadcrumbs:
  - name: "Юридическая помощь"
    url: "/assistance/"
  - name: "Арбитражные дела"
---
{% from "partials/block-of-text.njk" import renderText %}
{% from "partials/table-price.njk" import renderTable %}

{% include "partials/heading.njk" %}
{{ renderText(arbitraj.text) }}
{{ renderTable(arbitraj.table) }}
