---
layout: layout.njk
pageHeader: "Оказание юридической помощи по гражданским делам"
activeNav: /assistance/
---
{% from "partials/listing.njk" import renderList %}

{% include "partials/heading.njk" %}
{{ renderList(civil.list) }}
