---
layout: layout.njk
pageHeader: "Оказание юридической помощи по гражданским делам"
activeNav: /assistance/
pageDescription: "Гражданские дела в Санкт-Петербурге. Представительство в судах общей юрисдикции, защита прав и интересов."
breadcrumbs:
  - name: "Юридическая помощь"
    url: "/assistance/"
  - name: "Гражданские дела"
---
{% from "partials/listing.njk" import renderList %}

{% include "partials/heading.njk" %}
{{ renderList(civil.list) }}
