---
layout: layout.njk
activeNav: /assistance/
pageDescription: "Юридические консультации адвоката в Санкт-Петербурге. Устные и письменные консультации по всем отраслям права."
breadcrumbs:
  - name: "Юридическая помощь"
    url: "/assistance/"
  - name: "Консультирование"
---
{% from "partials/block-of-text.njk" import renderText %}
{% from "partials/alert-text.njk" import renderAlert %}
{% from "partials/table-price.njk" import renderTable %}

{{ renderText(consulting.text) }}
{{ renderAlert(consulting.alertText) }}
{{ renderTable(consulting.table) }}
