---
layout: layout.njk
pageHeader: "Оказание юридической помощи по уголовным делам"
activeNav: /assistance/
pageDescription: "Защита по уголовным делам в Санкт-Петербурге. Адвокат Кынтэрец Л.Н. — опыт ведения дел любой сложности и категории."
useTabs: true
breadcrumbs:
  - name: "Юридическая помощь"
    url: "/assistance/"
  - name: "Уголовные дела"
---
{% from "partials/block-of-text.njk" import renderText %}
{% from "partials/tabs.njk" import renderTabs %}

{% include "partials/heading.njk" %}
{{ renderText(criminal.text) }}
{{ renderTabs(criminal.tabs) }}
