---
layout: layout.njk
pageHeader: "Оказание юридической помощи по уголовным делам"
activeNav: /assistance/
---
{% from "partials/block-of-text.njk" import renderText %}
{% from "partials/tabs.njk" import renderTabs %}

{% include "partials/heading.njk" %}
{{ renderText(criminal.text) }}
{{ renderTabs(criminal.tabs) }}
