---
layout: layout.njk
pageHeader: "Оказание юридической помощи по семейным делам"
activeNav: /assistance/
pageDescription: "Семейные споры в Санкт-Петербурге. Разводы, раздел имущества, определение места жительства детей."
breadcrumbs:
  - name: "Юридическая помощь"
    url: "/assistance/"
  - name: "Семейные дела"
---
{% from "partials/listing.njk" import renderList %}

{% include "partials/heading.njk" %}
{{ renderList(family.list) }}
