---
layout: layout.njk
pageHeader: "Оказание юридической помощи по жилищным делам"
activeNav: /assistance/
pageDescription: "Жилищные споры в Санкт-Петербурге. Споры о праве собственности, выселение, приватизация."
breadcrumbs:
  - name: "Юридическая помощь"
    url: "/assistance/"
  - name: "Жилищные дела"
---
{% from "partials/listing.njk" import renderList %}

{% include "partials/heading.njk" %}
{{ renderList(house.list) }}
