---
layout: layout.njk
pageHeader: "Юридическая помощь"
activeNav: /assistance/
pageDescription: "Виды юридической помощи адвоката в Санкт-Петербурге: уголовные дела, арбитраж, гражданские и семейные споры, наследство, жилищные и налоговые вопросы."
breadcrumbs:
  - name: "Юридическая помощь"
---
{% from "partials/block-of-text.njk" import renderText %}
{% from "partials/grid-of-buttons.njk" import renderButtons %}

{% include "partials/heading.njk" %}
{{ renderText(assistance.text) }}
{{ renderButtons(assistance.buttons) }}
