---
layout: layout.njk
pageHeader: "Оказание юридической помощи по наследственным делам"
activeNav: /assistance/
pageDescription: "Наследственные споры в Санкт-Петербурге. Оспаривание завещаний, восстановление сроков, раздел наследства."
breadcrumbs:
  - name: "Юридическая помощь"
    url: "/assistance/"
  - name: "Наследственные дела"
---
{% from "partials/listing.njk" import renderList %}

{% include "partials/heading.njk" %}
{{ renderList(legacy.list) }}
