---
layout: layout.njk
pageHeader: "Оказание юридической помощи по налоговым делам"
activeNav: /assistance/
pageDescription: "Налоговые споры в Санкт-Петербурге. Защита интересов в налоговых органах и судах."
breadcrumbs:
  - name: "Юридическая помощь"
    url: "/assistance/"
  - name: "Налоговые дела"
---
{% from "partials/block-of-text.njk" import renderText %}
{% from "partials/table-price.njk" import renderTable %}

{% include "partials/heading.njk" %}
{{ renderText(tax.text) }}
{{ renderTable(tax.table) }}
