{% macro renderTable(items, tableHeader) %}
<div class="price-table-wrap">
  {% if tableHeader %}
    <div class="price-table-header">{{ tableHeader }}</div>
  {% endif %}
  <table class="price-table">
    <thead>
      <tr>
        <th>Вид юридической помощи</th>
        <th>Стоимость (руб.)</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        <tr>
          <td>{{ item.text }}</td>
          <td class="price-cell">
            {{ item.price }}
            {% if item.price2 %}<br><span class="price-note">{{ item.price2 }}</span>{% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endmacro %}
