{% from "partials/block-of-text.njk" import renderText %}
{% from "partials/table-price.njk" import renderTable %}

{% macro renderTabs(tabs) %}
<div class="tabs-container">
  <div class="tabs-buttons">
    {% for tab in tabs %}
      <button class="tabs-btn{% if loop.first %} active{% endif %}" data-tab="{{ tab.tabName }}">
        {{ tab.buttonName }}
      </button>
    {% endfor %}
  </div>
  {% for tab in tabs %}
    <div class="tabs-content{% if loop.first %} active{% endif %}" data-tab-content="{{ tab.tabName }}">
      {{ renderText(tab.text) }}
      {% if tab.table %}
        {{ renderTable(tab.table) }}
      {% endif %}
    </div>
  {% endfor %}
</div>
{% endmacro %}
